<div class="col-md-12" style="margin-top:20px;clear:both;padding:0;">
	<div class="col-md-8" id="port-container">
	<h3 class="title">Portfolio</h3>
	<div id="port_images" class="col-md-12">
		<div class="port">
			<a title='<a href="http://sekceram.com">http://Sekceram.com</a>' href="/portfolio/sekceram.jpg" class="fancybox" rel="group"><img src="/portfolio/4.png" class="img-circle"/></a>
		</div>
		<div class="port">
			<a title='<a href="http://ycnet-dz.com">http://Ycnet-dz.com</a>' href="/portfolio/ycnet-dz.jpg" class="fancybox" rel="group"><img src="/portfolio/2.png" class="img-circle"/></a>
		</div>
		<div class="port">
			<a title='<a href="http://aertech-dz.com">http://Aertech-dz.com</a>' href="/portfolio/aertech-dz.jpg" class="fancybox" rel="group"><img src="/portfolio/1.png" class="img-circle"/></a>
		</div>
		<div class="port">
			<a title='<a href="http://experts-setif.org">http://Experts-dz.com</a>' href="/portfolio/experts-setif.jpg" class="fancybox" rel="group"><img src="/portfolio/3.png" class="img-circle"/></a>
		</div>
		<div class="port">
			<a title='<a href="#">Intranet</a>' href="/portfolio/intranet.jpg" class="fancybox" rel="group"><img src="/portfolio/5.png" class="img-circle"/></a>
		</div>
		<div class="port">
			<a title='<a href="#">Template</a>' href="/portfolio/template.jpg" class="fancybox" rel="group"><img src="/portfolio/6.png" class="img-circle"/></a>
		</div>
		<div class="port">
			<a title='<a href="#">Template</a>' href="/portfolio/lg.jpg" class="fancybox" rel="group"><img src="/portfolio/7.png" class="img-circle"/></a>
		</div>
	</div>
	</div>
</div>

<script type="text/javascript">
	$(document).ready(function(){
		$('.fancybox').fancybox({
			openEffect: 'elastic',
			closeEffect: 'elastic'
		});
	});
</script>
