<div class="col-md-9 col-sm-11 col-xs-12 section" id="skills">
	<h3 class="title">Comp&eacute;tences techniques</h3>
	<div class="skill">
		<span>XML</span>	
	</div>
	<div class="skill">
		<span>MongoDB</span>	
	</div>
	<div class="skill l2">
		<span>xHTML <br /> CSS</span>	
	</div>
	<div class="skill l2">
		<span>PHP <br /> MySQL</span>	
	</div>
	<div class="skill l2">
		<span>Javascript <br />jQuery</span>	
	</div>
	<div class="skill l2">
		<span>Linux <br />( Gentoo )</span>	
	</div>
	<div class="skill">
		<span>Photoshop </span>	
	</div>
	<div class="skill">
		<span> Gimp</span>	
	</div>
	<div class="skill l2">
		<span>Ajax <br /> AngularJS</span>	
	</div>
	<div class="skill l2">
		<span>Bootstrap <br />CSS</span>	
	</div>
	<div class="skill l2">
		<span>Nginx <br /> Apache</span>	
	</div>
	<div class="skill">
		<span>Vim</span>	
	</div>
	<div class="skill">
		<span>Git</span>	
	</div>
	<div class="skill l2">
		<span>VirtalBox <br />LXC</span>	
	</div>
	<div class="skill">
		<span>MVC</span>	
	</div>
	<div class="skill l2">
		<span>PHP <br />OOP</span>	
	</div>
</div>
