
<p id="welcome" class="col-xs-12 col-sm-11 col-md-7">
		Je suis un d&eacute;veloppeur web enthousiaste et proactif, qui rend facile l'utilisation des sites et applications web en decouvrant comment l'utilisateur pense vraiment.<br />
		Avec 5 ans d'&eacute;xperience en d&eacute;veloppement et conception des sites et applications web, j'ai une excelente compr&eacute;hension de la fa&ccedil;on dont la technologie peut &ecirc;tre utilis&eacute;e pour satisfaire les besoins des clients.<br />
		
		Je suis &agrave; la recherche d'un nouveau d&eacute;fi dans une organisation progressive ou je peux faire le meilleur de mon amour de la technologie et ma connaissance des techniques de conception et du d&eacute;veloppement.<br />
		
		Ma passion pour l'apprentissage signifie que je peux continuer a offrir les derni&egrave;res technologies, les pratiques et les id&eacute;es &agrave; l'&eacute;quipe, en veillant &agrave; la soci&eacute;t&eacute; soit &agrave; la pointe de l'experience client.
</p>
<script type="text/javascript">
	$(document).ready(function(){
	 var h = $('#welcome').height();
	 $('#welcome').hover(function(){
	 	$(this).animate({'height': h+'px'}, 'slow');
	 });
	 $('#welcome').css({'height':'100px'});
	});
</script>
